<template>
    <div class="test">
        example/component/emit/box
        <p>父组件计数{{count}}</p>
        <c-btn @change="e_change" />
        <c-show ref="show"
            :count="count" />
    </div>
</template>

<script>
export default {
	name: 'test',
	components: {
		'c-btn': () => import('./btn'),
		'c-show': () => import('./show'),
	},
	data() {
		return {count: 80}
	},
	created() {},
	methods: {
		e_change(n) {
			this.count += n
			this.$refs.show.add()
		},
	},
}
</script>

<style scoped>
.test {
}
</style>