<template>
    <div class="test">
        <hr>
        <p>第一个组件有两个按钮控制数据</p>
        <button class="btn"
            @click="e_change(10)">+10</button>
        <button class="btn"
            @click="e_change(-10)">-10</button>
        <hr>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	created() {},
	methods: {
		e_change(n) {
			this.$emit('change', n)
		},
	},
}
</script>

<style scoped>
.btn {
	margin: 10px;
	padding: 10px;
}
</style>