<template>
    <div>
        第二个子组件, 展示进度条0-100
        <div class="linebox">
            <div class="full"
                :style="{width:w}"></div>
        </div>
        <p>父组件直接调用子组件方法, 比如记录点了多少次(这里的用法并不对, 只是展示能这么干)</p>
        <p v-text="i"></p>
    </div>
</template>

<script>
export default {
	name: 'linebox',
	props: {
		count: Number,
	},
	data() {
		return {i: 0}
	},
	computed: {
		w() {
			return (Math.max(0, Math.min(100, this.count)) | 0) + '%'
		},
	},
	created() {},
	methods: {
		add() {
			this.i++
		},
	},
}
</script>

<style scoped>
.linebox {
	border: 1px solid gray;
	width: 200px;
	height: 20px;
}
.full {
	height: 100%;
	background-color: red;
	transition: all 0.3s linear;
}
</style>