<template>
    <div class="test">
        example/component/slot/box
        <slot-easy>
            <p>简单插槽</p>
            <p>插入一些内容</p>
            <p>比如两行文字</p>
        </slot-easy>
        <hr>
        <slot-more>
            <div slot="top">
                <p>复杂插槽</p>
            </div>
            <div slot="bottom">
                <p>两部分插入被分割了</p>
            </div>
        </slot-more>
    </div>
</template>

<script>
export default {
	name: 'test',
	components: {
		'slot-easy': () => import('./slot1'),
		'slot-more': () => import('./slot2'),
	},
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>