<template>
    <div class="slot2">
        <slot name="top" />
        <p>子组件的内容</p>
        <slot name="bottom" />
    </div>
</template>

<script>
export default {
	name: 'slot1',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
</style>