<template>
    <div class="slot1">
        <slot />
    </div>
</template>

<script>
export default {
	name: 'slot1',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
</style>