<template>
    <button v-if="noevent"
        class="qiu-btn"
        :class="cls"
        :style="instyle.box"
        :data-back="back">
        <img v-if="beforeimg"
            :src="beforeimg"
            :style="instyle.beforeimg"
            :data-back="back">
        <span v-if="txt"
            v-text="txt_show"
            :style="instyle.txt"
            :data-back="back"></span>
        <img v-if="afterimg"
            :src="afterimg"
            :style="instyle.afterimg"
            :data-back="back">
    </button>
    <button v-else
        @click="e_clk"
        class="qiu-btn"
        :class="cls"
        :style="instyle.box"
        :data-back="back">
        <img v-if="beforeimg"
            :src="beforeimg"
            :style="instyle.beforeimg"
            :data-back="back">
        <span v-if="txt"
            v-text="txt_show"
            :style="instyle.txt"
            :data-back="back"></span>
        <img v-if="afterimg"
            :src="afterimg"
            :style="instyle.afterimg"
            :data-back="back">
    </button>
</template>

<script>
export default {
	name: 'qiu-btn',
	props: {
		noevent: Boolean, // 如果是true, 这个组件本身没有点击事件
		txt: String, // 文字
		back: String, // 返回标识, 同时方便事件委托
		sty: String, // 样式class
		fetching: Boolean, // 是否在网络请求
		time: {
			// 倒计时长
			type: [String, Number],
			default: 0,
		},
		beforeimg: String, //图片地址或base64
		afterimg: String, //图片地址或base64
		instyle: {
			// 内联样式, box, txt, beforeimg, afterimg
			type: Object,
			default() {
				return {}
			},
		},
	},
	data() {
		return {
			timer: null, // setInterval倒计时
			txt_show: this.txt, // 显示的文字
		}
	},
	computed: {
		cls() {
			const waiting = this.fetching || this.timer ? ' waiting' : ''
			return this.sty + waiting // 样式组和等待状态组
		},
	},
	destroyed() {
		this.clear()
	},
	methods: {
		e_clk() {
			// 单击触发, 等待状态会被阻止
			if (this.fetching || this.timer) {
				return
			}
			this.setTime()
			this.$emit('clk', this.back)
		},
		setTime() {
			// 尝试开启倒计时
			if (!this.time) {
				return
			}
			let t = Number(this.time)
			this.txt_show = t
			this.timer = setInterval(() => {
				t--
				if (t < 0) {
					this.clear()
					this.txt_show = this.txt
				} else {
					this.txt_show = t
				}
			}, 1000)
		},
		clear() {
			// 清除内存
			clearInterval(this.timer)
			this.timer = null
		},
	},
}
</script>

<style scoped>
.qiu-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s linear;
}
.qiu-btn:hover {
	transition: all 0.3s linear;
}
.img {
	height: 20px;
}
.style1 {
	border-radius: 4px;
}
.style1:hover {
	box-shadow: 0 0 5px gray;
}
.style2 {
	border-width: 1px;
	background-color: rgb(255, 255, 255);
}
.style2:hover {
	background-color: rgb(41, 223, 177);
}
.waiting {
	cursor: wait;
}
</style>