<template>
    <transition name="tran">
        <div v-if="open"
            ref="dialog"
            class="qiu-dialog">
            <div class="box">
                <div class="pad">
                    <div class="title">
                        <span v-text="title"></span>
                        <i class="esc trantime"
                            @click="e_esc_"></i>
                    </div>
                </div>
                <hr class="line">
                <div class="pad">
                    <slot />
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
	name: 'qiu-dialog',
	props: {
		open: true, // 是否显示弹窗
		title: String, // 弹窗标题
		back: {
			// 退出时返回
			type: String,
			default: '',
		},
	},
	data() {
		return {}
	},
	mounted() {},
	watch: {
		open(b) {},
	},
	methods: {
		e_esc_() {
			console.log('esc')
			this.$emit('esc', this.back)
		},
	},
}
</script>

<style scoped>
.qiu-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
}
.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	border: 1px solid gray;
	background-color: #fff;
}
.title {
	height: 28px;
	line-height: 28px;
}
.pad {
	box-sizing: border-box;
	padding: 10px;
}
.line {
	margin: 0;
}
.esc {
	display: block;
	float: right;
	position: relative;
	width: 28px;
	height: 28px;
	transform: rotate(45deg);
	cursor: pointer;
}
.esc:hover {
	transform: rotate(135deg);
}
.esc::before {
	content: '';
	display: block;
	position: absolute;
	top: 0%;
	left: 13px;
	width: 2px;
	height: 28px;
	background-color: rgb(255, 0, 0);
}
.esc::after {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 0;
	width: 28px;
	height: 2px;
	background-color: rgb(255, 0, 0);
}

.tran-enter-active,
.tran-leave-active {
	transition: opacity 0.5s;
}
.tran-enter,
.tran-leave-to {
	opacity: 0;
}
</style>