<template>
    <div class="qiu-drag"
        ref="box">
        <div class="head"
            :class="{'head-moving':draging}"
            @mousedown="e_start"
            @mousemove="e_move"
            @mouseup="e_end">
            <div class="hea"
                :class="{'hea-hidd':!show}">
                <div class="btn-hidd trantime"
                    :class="{'btn-hidd-hidded':!show}"
                    @click="e_hidd">&gt;</div>
                ...</div>
        </div>
        <div class="main "
            :class="{hiddmain:!show}">
            <slot/>
        </div>
        <div class="linebox"
            :class="{'linebox-drag':draging}"
            ref="line"></div>
    </div>
</template>

<script>
// 点击顶部开始拖动, 拖动时只移动边框节省重绘资源, 结束后直接移动整体
const h10 = (n, onlyZheng = false) => {
	// 进行吸附, 转化为整10数
	n = n | 0
	const d = n % 10
	if (d < 5) {
		n -= d
	} else {
		n += 10 - d
	}
	if (onlyZheng) {
		n = Math.max(n)
	}
	return n
}
export default {
	name: 'qiu-drag',
	props: {
		dx: {
			// 设定初始位置
			type: [Number, String],
			default: 0,
		},
		dy: {
			// 设定初始位置
			type: [Number, String],
			default: 0,
		},
	},
	data() {
		return {
			show: true, // 是否显示主体
			draging: false,
			// 坐标原点为右上角, x向左为正, y向下为正
			y0: null, // 鼠标初始屏幕位置
			x0: null,
			dx0: null, // 元素初始位置
			dy0: null,
			nx: null, // 现在的元素位置
			ny: null,
		}
	},
	mounted() {
		const dom = this.$refs.box
		const x = h10(this.dx)
		const y = h10(this.dy)
		this.nx = x
		this.ny = y
		dom.style.right = x + 'px'
		dom.style.top = y + 'px'
	},
	methods: {
		e_start(e) {
			const dom = this.$refs.box
			this.draging = true
			this.x0 = e.screenX
			this.y0 = e.screenY
			this.dx0 = parseInt(dom.style.right || 0)
			this.dy0 = parseInt(dom.style.top || 0)
			// 设置zindex最高
			const dias = document.querySelectorAll('.qiu-drag')
			for (const v of dias) {
				v.style.zIndex = 2333
			}
			dom.style.zIndex = 3333
		},
		e_move(e) {
			if (!this.draging) {
				return
			}
			const [x, y] = [e.screenX, e.screenY]
			const dom = this.$refs.line
			this.nx = this.dx0 + this.x0 - x
			this.ny = this.dy0 + y - this.y0
			dom.style.left = x - this.x0 + 'px'
			dom.style.top = y - this.y0 + 'px'
		},
		e_end() {
			const dom = this.$refs.box
			dom.style.right = h10(this.nx) + 'px'
			dom.style.top = h10(this.ny) + 'px'
			const domline = this.$refs.line
			domline.style.left = 0
			domline.style.top = 0
			this.draging = false
			this.x0 = null
			this.y0 = null
			this.dx0 = null
			this.dy0 = null
		},
		e_hidd() {
			this.show = !this.show
		},
	},
}
</script>

<style scoped>
.qiu-drag {
	position: fixed;
	top: 0;
	right: 0;
	border-radius: 6px;
	border: 1px solid gray;
	min-width: 300px;
	max-height: 100vh;
	background-color: #fff;
}
.head {
	height: 20px;
	user-select: none;
}
.head-moving {
	padding: 100vw;
	margin: -100vw;
}
.hea {
	border-bottom: 1px solid gray;
	height: 100%;
	text-align: center;
	line-height: 20px;
}
.hea-hidd {
	border-radius: 6px;
}
.btn-hidd {
	float: left;
	margin-right: -20px;
	height: 20px;
	width: 20px;
	transform: rotate(90deg);
}
.btn-hidd-hidded {
	transform: rotate(0deg);
}
.main {
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px;
	max-height: 50vh;
	transition: max-height 0.3s linear;
}
.hiddmain {
	max-height: 0;
	padding: 0 10px;
	transition: max-height 0.3s linear, padding 0.3s linear;
}
.linebox {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	opacity: 0;
}
.linebox-drag {
	opacity: 1;
}
</style>