<template>
    <main class="example">
        <ul class="labels"
            @click="e_tag">
            <li v-for="v in els"
                :key="v.txt"
                class="items">
                <qiu-btn :txt="v.txt"
                    sty="style1"
                    class="btn"
                    :back="v.path" />
            </li>
        </ul>
        <router-view />
    </main>
</template>

<script>
export default {
	name: 'example',
	data() {
		return {
			els: [
				{txt: '条件渲染', path: 'if'},
				{txt: '列表渲染', path: 'for'},
				{txt: '网络请求', path: 'api'},
				{txt: '延迟加载', path: 'lazy'},
				{txt: '组件插槽', path: 'slot'},
				{txt: '组件通信', path: 'emit'},
				{txt: '组件混入', path: 'mixin'},
				{txt: '依赖注入', path: 'provide'},
				{txt: '自定义指令', path: 'directive'},
				{txt: 'json排序', path: 'jsonsort'},
				{txt: '视线区域', path: 'observe'},
				{txt: 'vuex读写', path: 'vuex'},
				{txt: '通知', path: 'notify'},
				{txt: '路径别名', path: 'alias'},
				{txt: '中国阿拉伯数字互换', path: 'cn2al'},
				{txt: '延迟生效', path: 'delay'},
				{txt: '画树', path: 'tree'},
			],
		}
	},
	created() {},
	methods: {
		e_tag(e) {
			let {back} = e.target.dataset
			if (back === undefined) {
				return
			}
			this.$router.push('/example/' + back)
		},
	},
}
</script>

<style scoped>
.example {
	font-size: 20px;
}
.labels {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 10px;
	padding: 0;
}
.items {
	margin: 0 10px 10px 0;
}
.btn {
	font-size: 18px;
	padding: 10px;
}
</style>