<template>
    <div class="test">
        <p v-text="position"></p>
        <p v-text="more"></p>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			position: '',
			more: '',
		}
	},
	mounted() {
		this.testGet()
		this.testPost()
	},
	methods: {
		async testGet() {
			const param = {
				name: 'qsoft',
				age: '10000',
			}
			const re = await this.$qget('./example.json', param)
			if (re.code === 0) {
				return
			}
			this.position = re.data.position
		},
		async testPost() {
			const param = {
				name: 'qsoft',
				age: '10000',
			}
			const re = await this.$qpost('./example.json', param)
			if (re.code === 0) {
				return
			}
		},
	},
}
</script>

<style scoped>
.test {
}
</style>