<template>
    <table>
        <thead>
            <td>example/base/vfor</td>
        </thead>
        <tr v-for="(vy, iy) in list"
            :key="iy">
            <td v-for="(vx, ix) in vy"
                :key="ix"
                v-text="vx"></td>

        </tr>
    </table>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			list: [
				['身高', '长度', '面积'],
				['180', '180', '180'],
				['170', '190', '180'],
				['150', '200', '180'],
				['140', '210', '180'],
			],
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
td {
	width: 33%;
}
</style>