<template>
    <div v-if="show==0"
        class="test">
        example/base/vif
    </div>
    <div v-else-if="show==1"
        class="test">
        1
    </div>
    <div v-else
        class="test">
        2
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			show: 0,
		}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>