<template>
    <footer class="foot">
    </footer>
</template>

<script>
export default {
	name: 'c-foot',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.foot {
}
</style>