<template>
    <header class="header ">
        <router-link to="/">回到主页</router-link>
    </header>
</template>

<script>
export default {
	name: 'c-header',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.header {
	width: 100vw;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.4);
}
</style>