<template>
    <div class="test">
        <p>/delay</p>
        <p>点下面两个按钮</p>
        <qiu-btn sty="style1"
            txt="先 生效+2 后阻止"
            @clk="e_clk0" />
        <qiu-btn sty="style1"
            txt="先 等待 后生效-2"
            @clk="e_clk1" />
        <p v-text="count"></p>
    </div>
</template>

<script>
import {do_wait, wait_do} from './fun'

export default {
	name: 'test',
	data() {
		return {
			count: 0,
		}
	},
	created() {},
	methods: {
		e_clk0() {
			const a = do_wait.init(this.todo)
			a(2)
		},
		e_clk1() {
			const a = wait_do.init(this.todo)
			a(-2)
		},
		todo(n = 1) {
			this.count += n
		},
	},
}
</script>

<style scoped>
button {
	font-size: 16px;
}
</style>