<template>
    <div class="test">
        /uiShow/toast/index

    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	created() {
		this.$toast({msg: '队列toast', timeout: 1})
		this.$toast('只传入文字')
		setTimeout(() => {
			this.$toast({msg: ['1', '2', '3'], timeout: 2000})
		}, 5000)
	},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>