<template>
    <div class="dialog">
        <qiu-btn txt="开启弹窗"
            @clk="e_open" />
        <qiu-dialog :open="open"
            title="biaoti"
            @esc="e_esc">
            <p>666</p>
            <p>666</p>
            <p>666</p>
            <p>666</p>
        </qiu-dialog>
    </div>
</template>

<script>
export default {
	name: 'q-dialog',
	data() {
		return {
			open: false,
		}
	},
	created() {
		setTimeout(() => {
			this.open = true
		}, 500)
	},
	methods: {
		e_esc() {
			this.open = false
		},
		e_open() {
			this.open = true
		},
	},
}
</script>

<style scoped>
p {
	width: 300px;
}
</style>