<template>
    <main v-text="begin">
    </main>
</template>

<script>
export default {
	name: 'home',
	components: {},
	data() {
		return {
			begin: '',
			worker: new Worker('worker.js'),
		}
	},
	mounted() {
		this.worker.onmessage = msg => {
			const t = this.$func.time(msg.data)
			const tf = t.format()
			this.begin = `${tf} qsoft start~~~`
		}
	},
	methods: {},
}
</script>

<style scoped>
main {
	text-align: center;
	font-size: 24px;
}
</style>
