<template>
    <div class="test">
        <p>/alias</p>
        <p>在vue.config.js做如下配置</p>
        <pre>
module.exports = {
    chainWebpack: config => {
        // 路径别名 src/someTest
        config.resolve.alias.set('@test', config.resolve.alias.get('@') + '/someTest')
    },
}
        </pre>
        <p>在任意地方可以引用 import '@test/alias.js'
        </p>
        <p>它的路径是src/someTest/alias.js</p>
    </div>
</template>

<script>
import '@test/alias.js'

export default {
	name: 'test',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>