<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<title>base_vue_3</title>
		<meta name="keywords" content="vue" />
	</head>

	<body id="app">
		<noscript>
			<strong
				>We're sorry but base_vue_3 doesn't work properly without JavaScript enabled. Please enable it to
				continue.</strong
			>
		</noscript>
		<!-- built files will be auto injected -->
	</body>
</html>
