<template>
    <div class="test">
        <p v-text="name"></p>
        <p v-text="age"></p>
    </div>
</template>

<script>
export default {
	name: 'test',
	inject: ['name', 'age'],
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>