<template>
    <div class="test">
        <c-child />
    </div>
</template>

<script>
export default {
	name: 'test',
	components: {
		'c-child': () => import('./child'),
	},
	data() {
		return {}
	},
	provide() {
		return {
			name: 'xiao ming',
			age: 233,
		}
	},

	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>