<template>
    <div class="dragd">
        <qiu-drag dx='33'>
            <p>233</p>
            <p>666</p>
            <p>233</p>
        </qiu-drag>
        <qiu-drag dx='33'
            dy='45'>
            <p>233</p>
            <p>666</p>
            <p>233</p>
        </qiu-drag>
    </div>
</template>

<script>
export default {
	name: 'dragd',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.dragd {
}
</style>