<template>
    <div class="test">
        /uiShow/button/index
        <qiu-btn txt="一个按钮"
            class="btn"
            back="ui"
            @clk="e_el_" />
        <qiu-btn txt="按钮很忙"
            class="btn"
            :fetching="true"
            back="ui"
            @clk="e_el_" />
        <qiu-btn txt="倒计时"
            class="btn"
            time="3"
            back="ui"
            @clk="e_el_" />
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	methods: {
		e_el_() {},
	},
}
</script>

<style scoped>
.btn {
	width: 180px;
	height: 60px;
	font-size: 40px;
}
</style>