body {
	--clr0: rgb(243, 243, 243);
	--wmin: 340px;
	--wmax: 1400px;
	--fts: 16px;
	--ftm: 20px;
	--ftl: 24px;
	--ftxl: 28px;
}
.a {
	text-decoration: underline;
}

.ani-shadow {
	transition: all 0.3s linear;
}
.ani-shadow:hover {
	transition: all 0.3s linear;
	box-shadow: 0 0 10px gray;
}
.ani-opa-enter-active,
.ani-opa-leave-active {
	transition: all 0.3s linear;
}
.ani-opa-enter,
.ani-opa-leave-to {
	opacity: 0;
	/* transform: translateX(-100%); */
}

.bor-ra {
	border-radius: 4px;
	border: 1px solid gray;
}

.msg {
	font-size: 18px;
	color: red;
}
