<template>
    <div class="test fcc">
        <canvas id='d1'
            ref="cns"
            width="900"
            height="550"
            style="border:dashed 2px #ccc"></canvas>
        <qiu-btn @clk="e_draw"
            class="btn"
            sty="style1"
            txt="重绘" />
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			hash: 0,
		}
	},
	mounted() {
		this.e_draw()
	},
	methods: {
		e_draw() {
			this.hash++
			const drawtree = (hash, depth, endDepth, ctx, startx, starty, length, angle, branchWidth) => {
				if (hash !== this.hash) {
					return
				}
				if (depth === endDepth || branchWidth < 0.01) {
					return
				}
				const R = Math.random
				ctx.beginPath()
				ctx.moveTo(startx, starty)
				const endx = startx + length * Math.cos(angle)
				const endy = starty + length * Math.sin(angle)
				ctx.lineCap = 'round'
				ctx.lineWidth = branchWidth
				ctx.lineTo(endx, endy)
				ctx.strokeStyle = `rgb(0,${(165 - 165 / depth) | 0},50,25)`
				ctx.stroke()
				const subbranch = depth < 2 ? depth + 2 : (2 + R() * 3) | 0
				branchWidth /= 2
				const maxangle = Math.PI / 3
				for (let i = 0; i < subbranch; i++) {
					const n_angle = angle + (R() + i) * (maxangle / subbranch) - maxangle * 0.5
					const n_length = (length * (0.6 + R() * 0.4)) | 0
					setTimeout(() => {
						drawtree(hash, depth + 1, endDepth, ctx, endx, endy, n_length, n_angle, branchWidth)
					}, 200)
				}
			}

			let canvas = this.$refs.cns
			let ctx = canvas.getContext('2d')
			ctx.clearRect(0, 0, 1000, 1000)
			// hash版本号重绘了可以组织上一步, 开始深度, 最大深度, ctx, x, y, 长度, 偏转角度, 宽度
			drawtree(this.hash, 0, 12, ctx, 450, 550, 90, -Math.PI / 2, 12)
		},
	},
}
</script>

<style scoped>
.btn {
	font-size: 16px;
}
</style>