<template>
    <div class="example">
        <ul class="labels"
            @click="e_tag">
            <li v-for="v in els"
                :key="v.txt"
                class="items">
                <qiu-btn :txt="v.txt"
                    sty="style1"
                    class="btn"
                    :back="v.path" />
            </li>
        </ul>
        <router-view/>
    </div>
</template>

<script>
export default {
	name: 'example',
	data() {
		return {
			els: [
				{txt: '按钮', path: 'button'},
				{txt: '拖动', path: 'drag'},
				{txt: '弹窗', path: 'dialog'},
				{txt: '队列toast', path: 'toast'},
			],
		}
	},
	created() {},
	methods: {
		e_tag(e) {
			let {back} = e.target.dataset
			if (back === undefined) {
				return
			}
			this.$router.push('/ui/' + back)
		},
	},
}
</script>

<style scoped>
.example {
	font-size: 20px;
}
.labels {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 10px;
	padding: 0;
}
.items {
	margin: 0 10px 10px 0;
}
.btn {
	font-size: 18px;
	padding: 10px;
}
</style>