<template>
    <div class="test">
        example/vuex/

        <p>下面会显示两个输入框拼接</p>
        <input type="text"
            @input="e_ipt"
            v-model="str1">
        <input type="text"
            @input="e_ipt"
            v-model="str2">
        <hr>
        <p v-text="test"></p>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			str1: '',
			str2: '',
		}
	},
	computed: {
		test() {
			const {str1, str2} = this.$store.state.test
			return str1 + str2
		},
	},
	created() {},
	methods: {
		e_ipt() {
			this.$store.commit('set_test_str1', this.str1)
			this.$store.commit('set_test_str2', this.str2)
		},
	},
}
</script>

<style scoped>
.test {
}
</style>