<template>
    <div class="test">
        aaa
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>