<template>
    <div class="test">
        example/lazy/box
        <c-a />
        <c-b />
        <c-c />
    </div>
</template>

<script>
export default {
	name: 'test',
	components: {
		'c-a': h => {
			setTimeout(() => {
				require(['./a'], h)
			}, 1000)
		},
		'c-b': h => {
			setTimeout(() => {
				require(['./b'], h)
			}, 2000)
		},
		'c-c': h => {
			setTimeout(() => {
				require(['./c'], h)
			}, 3000)
		},
	},
	data() {
		return {}
	},
	created() {},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>