<template>
    <div class="test">
        <p>/cn2al</p>
        <div>
            <input type="text"
                v-model="ncn"
                @input="tran('cn2al')">
            <span>中国</span>
        </div>
        <div>
            <input type="text"
                v-model="nal"
                @input="tran('al2cn')">
            <span>阿拉伯</span>
        </div>
    </div>
</template>

<script>
import {al2cn, cn2al} from './fun.js'
export default {
	name: 'test',
	data() {
		return {
			ncn: '',
			nal: '',
			timer: null,
		}
	},
	created() {},
	methods: {
		tran(s) {
			const toTran = s === 'cn2al' ? this.ncn : this.nal
			const toChange = s === 'cn2al' ? 'nal' : 'ncn'
			const fun = s === 'cn2al' ? cn2al : al2cn
			clearTimeout(this.timer)
			this.timer = setTimeout(() => {
				const re = fun(toTran)
				this[toChange] = re
				this.timer = null
			}, 500)
		},
	},
}
</script>

<style scoped>
input {
	margin: 10px;
	width: 400px;
	padding: 10px;
	font-size: 18px;
}
</style>