<template>
    <div class="test">
        example/component/mixin/box
        <p>{{i}}</p>
        <p>调用被混入组件的方法, create时i被改为200, 2秒后变成400</p>
    </div>
</template>

<script>
import c2mix from './tomix'
export default {
	name: 'test',
	mixins: [c2mix],
	data() {
		return {
			i: 0,
		}
	},
	created() {
		setTimeout(() => {
			this.change()
		}, 2000)
	},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>