<template>
    <div class="test">

    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {}
	},
	created() {
		this.i = 200
	},
	methods: {
		change() {
			this.i = 400
		},
	},
}
</script>

<style scoped>
.test {
}
</style>