<template>
    <div class="test">
        example/notify/index

    </div>
</template>

<script>
import notifyMe from './noti'
export default {
	name: 'test',
	data() {
		return {
			notifyTxt: '我发送通知了',
		}
	},
	mounted() {
		// notifyMe(this.notifyTxt)Í
		this.$notify(this.notifyTxt)
	},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>