<template>

    <body id="app">
        <c-header />
        <router-view />
        <c-footer />
    </body>
</template>

<script>
import Header from './component/common/Header.vue'
import Footer from './component/common/Footer.vue'
export default {
	components: {
		'c-header': Header,
		'c-footer': Footer,
	},
	mounted() {},
}
</script>
