<template>
    <div class="test">
        example/fun/jsonSort
        <table @click="e_sort">
            <tr>
                <td>姓名</td>
                <td>
                    <button data-w="height">身高</button>
                </td>
                <td>
                    <button data-w="long">长度</button>
                </td>
                <td>
                    <button data-w="area">面积</button>
                </td>
            </tr>
            <tr v-for="(vy, iy) in list"
                :key="iy">
                <td v-text="vy.name"></td>
                <td v-text="vy.height"></td>
                <td v-text="vy.long"></td>
                <td v-text="vy.area"></td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			list: [
				{
					name: '残疾人1',
					height: 180,
					area: 160,
					long: 170,
				},
				{
					name: '残疾人2',
					height: 170,
					area: 180,
					long: 160,
				},
				{
					name: '残疾人3',
					height: 160,
					area: 170,
					long: 180,
				},
				{
					name: '完美人',
					height: 180,
					area: 180,
					long: 180,
				},
			],
		}
	},
	created() {},
	methods: {
		e_sort(e) {
			const {w} = e.target.dataset
			if (w === undefined) {
				return
			}
			this.list.sort((a, b) => a[w] - b[w])
		},
	},
}
</script>

<style scoped>
</style>