<template>
    <div class="test">
        example/fun/observe

        <div v-for="i in 10"
            :key="i"
            class="obitems fcc"
            ref="box"
            :data-i="i"
            v-text="i">1</div>
        <div class="show">
            <p>现在可以看到{{canLook}}</p>
        </div>
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			Observer: null,
			canLooks: [],
			canLook: '',
		}
	},
	mounted() {
		this.obser()
	},
	destroyed() {
		this.Observer = null
	},
	methods: {
		obser() {
			const showed = n => {
				console.log(n + '进入视线')
				this.changeCanLook(n - 1, true)
			}
			const disappeared = n => {
				console.log(n + '消失')
				this.changeCanLook(n - 1, false)
			}
			this.Observer = new IntersectionObserver(doms => {
				doms.forEach(dom => {
					const {i} = dom.target.dataset
					const isIn = dom.intersectionRatio !== 0
					if (isIn) {
						showed(i)
					} else {
						disappeared(i)
					}
				})
			})
			for (const v of this.$refs.box) {
				this.Observer.observe(v)
			}
		},
		changeCanLook(n, b) {
			this.canLooks[n] = b
			let arr = []
			this.canLooks.forEach((v, i) => {
				if (v) {
					arr.push(i + 1)
				}
			})
			this.canLook = arr.join(',')
		},
	},
}
</script>

<style scoped>
.obitems {
	margin: 20px;
	width: 400px;
	height: 60vh;
	background-color: rgb(180, 180, 180);
	font-size: 40px;
}
.obitems:nth-of-type(2n) {
	background-color: rgb(255, 0, 0);
}
.show {
	position: fixed;
	top: 100px;
	left: 500px;
	border-radius: 6px;
	border: 1px solid gray;
	padding: 10px;
}
</style>