<template>
    <div class="test">
        example/component/directive/box
        <input type="text"
            v-tet="str">
    </div>
</template>

<script>
export default {
	name: 'test',
	data() {
		return {
			str: '一般没卵用的功能',
		}
	},
	created() {},
	directives: {
		tet: {
			bind(e, binding, vnode) {
				e.value = binding.value
			},
		},
	},
	methods: {},
}
</script>

<style scoped>
.test {
}
</style>